[2014-09-22 08:25] TDesjardins opened #1 "Add a build script"
Add a script for building GWT-OL3-Playground.

[2014-09-25 10:44] #1 closed, assigned to nobody

[2014-12-11 11:48] nigel-v-thomas opened #3 "Super Dev mode run issue"
Thank you for creating this prototype OL3 wrapper!

Calling mvn clean gwt:run-codeserver works okay, however, on trying to run the web server I get the following error:
[code]

I tried adding the missing dependency
[code]
However, with this in place, I get a different error:

[code]

[2016-01-04 07:24] sebasbaumh opened #8 "Setup Travis CI for the master branch"
Is it possible to set up Travis CI to build the `master` branch in addition to the `gwt/2.8` branch?
This would show us build issues in the main branch as well.

[2016-01-04 07:39] sebasbaumh commented on #8
I was wrong, the `master` branch is already build - I was just looking on the wrong branch of `README.md`.

[2016-01-04 07:39] #8 closed

[2016-03-09 16:37] nigel-v-thomas commented on #3
Thanks @TDesjardins , I had resolved this issue by adding asm 5.x to my dependency tree not sure why i need this..

[2016-03-09 16:37] #3 closed

[2016-03-09 18:58] TDesjardins commented on #3
Hi @nigel-v-thomas,

probably you only need the asm dependencies of the gwt-dev.jar.

[2016-03-10 08:00] nigel-v-thomas commented on #3
Perfect, thanks @TDesjardins. Now replaced with gwt-dev - does the trick.

[2016-06-11 11:16] TDesjardins opened #26 "Consider uploading artifacts to a central maven repository"
Uploading gwt-ol3 artifacts to a central maven repository would be facilitate the use of it in maven projects. Probably this process can be supported by CI.

Ressources:

https://maven.apache.org/guides/mini/guide-central-repository-upload.html

[2016-08-06 11:28] ibaca commented on #26
If you have interest, I can help with this. If you want to use sonatype and deploy using the packages starting with `de.desjardins` you can request access sending a message like this https://issues.sonatype.org/browse/OSSRH-21191 and be able to demostrate that you have access to this domain `de.desjardins`. So if they grant access to `de.desjardins`, you will be able to deploy `de.desjardins.ol3:g

[2016-08-16 18:01] TDesjardins commented on #26
Hello @ibaca ,

yes, I have interest. Thanks for your offer. I already created an account at central sonatype. What do you mean with demonstrate access to the domain `de.desjardins`? The domain doesn't really exist. It's only a namespace.

I also don't like the package `ol` but this is the original namespace of ol3. When I created the wrapper, the idea was to make it as closely as possible to the

[2016-08-16 20:34] ibaca commented on #26
Yep, maybe you are right, ol is not that bad, even is more natural. This is a JS wrapper, and be close to the JS lib might be a good idea. But, what about moving the GwtOL3.gwt.xml into ol package?

About 'demonstrate access'; just request access to de.desjardins, someone from sonatype will ask you something, or maybe they just grant access, not sure 😛 just ask.

[2016-08-17 07:38] TDesjardins commented on #26
What are the benefits when moving `GwtOL3.gwt.xml` into `ol` package? There are a lot of files directly under `ol` that are then not in the source path.

[2016-08-18 14:31] ibaca commented on #26
You can add this `<source path=""/>` to the GwtOL3.gwt.xml so the module can be inside its own package. IMHO is more common (used in libs like https://github.com/intendia-oss/rxjava-gwt/blob/master/src/main/resources/rx/Rx.gwt.xml). I suppose there aren't any specific benefits.

[2016-08-18 17:20] TDesjardins commented on #26
It is more common because rxjava-gwt is a reference project ?! ;-)
The module xml files are moved now.
Also the groupid `com.github.tdesjardins` is accepted at sonatype. So I will change it in the maven configuration. `de.desjardins` was not accepted because of the missing ownership of the domain.

[2016-08-23 13:48] TDesjardins commented on #26
The sonatype configuration is prepared: https://issues.sonatype.org/browse/OSSRH-24393 .
I also changed the groupid in the maven configuration and uploaded a public gpg key to a server. Now I have to configure the maven deploy plugin, right?

[2016-08-23 15:27] ibaca commented on #26
This pull request https://github.com/TDesjardins/gwt-ol3/pull/33 should cotain all configuration you need. You can do right now a `mvn clean release:prepare release:perform`, this will create various commits, one tag and will deploy to the sonatype staging repository. Don't worry if something goes wrong, you can always remove the tag, make a hard reset and push force to this repo and discard the s

[2016-08-25 14:19] TDesjardins commented on #26
Thanks @ibaca ! I tried different parameters and configurations (settings.xml) with `release:perform` and now the checkout seems to work but I get the following error message when executing goal `deploy site-deploy`:
`Failed to execute goal org.apache.maven.plugins:maven-gpg-plugin:1.1:sign (sign-artifacts) on project gwt-ol3: Cannot obtain passphrase in batch mode -> [Help 1]`
I suppose that I ha

[2016-08-25 15:39] ibaca commented on #26
First of all, I see that you are using a stable version right now, **you should change it to a SNAPSHOT version** (you can use `mvn versions:set -DnewVersion=2.5.0-SNAPSHOT`), the release plugin will ask you which stable version do you want to use in the first step.

About your problem, try to execute one goal a time, I think that the problem is related to `deploy`, that cannot be executed in batc

[2016-08-26 16:38] TDesjardins commented on #26
That's a good hint. I havn't used the batch mode intentionally. I use the maven integration of eclipse which runs all commands in batch mode :-) .
With the console I managed it somehow and now there are artifacts at central maven repository. I don't know if this is a correct release because all artifacts are in a folder snapshot, also in the release repositories:

https://oss.sonatype.org/content/

[2016-08-27 07:08] ibaca commented on #26
It's not published in central, don't worry. You should make the `close` and `release` in oss.sonatype.org, but do not make it until you confirm everything is ok 😛.
<img width="747" alt="screen shot 2016-08-27 at 09 03 07" src="https://cloud.githubusercontent.com/assets/1042225/18025808/48eba7cc-6c35-11e6-9320-445e55c50db8.png">

User always the terminal, and do not keep open eclipse during release

[2016-08-27 07:09] ibaca commented on #26
Current version of the master branch is still a stable version, please change to 2.5.0-SNAPSHOT.

[2016-08-29 08:42] TDesjardins opened #34 "MapGuide example is broken"
MapGuide example does't work any more.

[2016-09-19 06:46] TDesjardins commented on #34
This was a temporarily issue, which has nothing to do with gwt-ol3.

[2016-09-19 06:46] #34 closed

[2016-11-03 18:16] misiakj opened #42 "Integrating OL3 into tabpanel of GWT Application"
I would like to say thank you for creating the OL3 GWT wrapper, it looks like it's going to be very useful for integrating map functionality into a GWT application. I see that in your demo you add a
<div id="map" class="map"></div> line to your .html file and then assign the map to that element. I also see that we can add a map to a GWT app by placing it in a panel that is placed directly on the R

[2016-11-04 08:16] TDesjardins commented on #42
Hello Jon,

you are welcome. Could you provide a code snippet that shows your problem? If you have a div with id "map" in the DOM the map should be displayed, in my opinion this is independant from the DOM hierarchy level.

Regards

Tino

[2016-11-04 17:15] misiakj commented on #42
I actually found a solution but thank you for the quick response. I was setting up the map information in the constructor of a widget that was several layers deep in the widget that was actually being added to the RootLayoutPanel so it appears that the map information would look for the Div element, but since the greater object being added to the RootLayoutPanel hadn't finished creation yet it was

[2016-11-04 17:15] #42 closed

[2016-12-02 10:12] TDesjardins commented on #26
gwt-ol3 is now available at central maven repository. Thank you very much @ibaca !

[2016-12-02 10:12] #26 closed

[2016-12-06 09:55] peterza opened #50 "Renaming artifactId"
Is `gwt-ol3` the final stable artefactId of gwt-ol3 library?

[2016-12-06 10:10] ibaca commented on #50
The final name is gwt-ol3. I hope is OK! 👌

El mar., 6 de diciembre de 2016 10:55, peterza <notifications@github.com>
escribió:

[2016-12-06 12:00] ibaca commented on #50
The name was changed from `gwt-ol3-client` to `gwt-ol3` because is "better" 😛, it is a bit annoying because updating from 2.8.0 to 2.9.0 will result in an "dependency not found" but, on the other hand, is a remainder of removing the old jitpack repository because this is the first release in maven central, so you no longer need to add any custom repository.

[2016-12-06 13:14] TDesjardins commented on #50
Yes `gwt-ol3` is the better, stable and final artefactId and now available at maven central.

[2016-12-06 13:14] #50 closed

[2016-12-21 18:04] peterza opened #54 "Using concrete classes instead of interfaces for Options"
@TDesjardins, is there a reason you used interfaces instead of concrete classes for Options?
Do you prefer using interfaces in conjunction with the OLFactory or  may I convert MapOptions ecc. to classes?

`public class MapOptions implements Options`

[2016-12-21 18:44] TDesjardins commented on #54
Hello @peterza,

let me raise a counter question. What are the benefits when using classes for options? In most cases gwt-ol3 uses classes with native methods, so that you can use also constructors. With options this is not possible with JsInterop because the underlying JS-Object hasn't a constructor named like this class. Sure you could create it with a factory but when using the constructor, you

[2016-12-22 08:03] peterza commented on #54
Ah, ok!

Thanks

Peter

[2016-12-22 08:03] #54 closed

[2016-12-22 08:26] TDesjardins commented on #54
You are welcome.

[2017-01-02 17:16] TDesjardins commented on #54
Hello @peterza,

i have an update for this issue. The use of classes works for options, if you use the global namespace and the object name 'Object'. After this modification you can also use the new operator. See commit https://github.com/TDesjardins/gwt-ol3/commit/f35e008c0a47337189dfe426780af47835f8916a

Regards

Tino

[2017-01-03 08:05] mazlixek opened #55 "Image as marker icon"
Is it possible to set image as marker icon? I was using it in old GWT OL and I was also able to change that icon on the fly (for example I have road signal icon and when the road signal red lamp is activated, I change the icon appropriately).

Or is it possible to use SVG icon?

I found that I can set style to feature, and with creating this style I can pass Image as parameter, but I don't know ho

[2017-01-04 14:27] mazlixek commented on #55
Thanks for the answer. I thought that it is probably not implemented, as the Image or Icon interfaces are empty (no methods), but I was not sure.

I guess it is just the matter of adding those methods in ol.style.Image, but I guess I also need to provide a way how to create the Icon/Image, which I'm not really sure how. I can try though.

[2017-01-04 16:59] TDesjardins commented on #55
@mazlixek
I added some properties and created an example for markers: https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-demo/src/main/java/com/github/tdesjardins/ol3/demo/client/example/MarkerExample.java

Could you check this?

[2017-01-04 17:51] mazlixek commented on #55
I just tried it and it works! Thanks a lot! I tried to add it myself but I wasn't sucessful. I didn't know that I should use Point for this.

[2017-01-04 21:11] TDesjardins commented on #55
You are welcome.

[2017-01-04 21:11] #55 closed

[2017-01-09 15:56] francescomangiacrapa opened #56 "gwt-ol3 for GWT 2.7 on Maven?"
Hi TDesjardins,

can you deploy on Maven Central also the last version of gwt-ol3 for GWT 2.7? if possible?
Unfortunately, at the moment, I can't use the latest version (for GWT 2.8) because in the environment where I deploying my web-app several components are developed/compiled using GWT 2.7, and this last is shared by all.

Thanks.
Regards,
Francesco

[2017-01-10 09:52] TDesjardins commented on #56
Hello @francescomangiacrapa ,

what about using Jitpack for now?

The latest Tag for GWT 2.7 branch is `v1.3.0` :

https://jitpack.io/#TDesjardins/gwt-ol3/v1.3.0

Regards

Tino

[2017-01-10 16:38] francescomangiacrapa commented on #56
Hi @TDesjardins,

thanks for your reply.
I will test Jitpack solution asap in order to use gwt-ol3 v1.3.0
I think it is a great idea.

Regards,
Francesco

[2017-01-10 16:38] #56 closed

[2017-01-10 17:18] TDesjardins commented on #56
O.k. you can reopen this issue if you have problems with that.

[2017-02-15 12:37] brauchle opened #66 "How to add pointerMove to a SelectFeature?"
Hi,

I'm trying to implement the possiblity to select a polygon by mouse-over.
Example for JS: [http://www.freytag.org.uk/ol/hover.html](http://www.freytag.org.uk/ol/hover.html):
[code]

I only got it to work with a select-by-click-Feature (as in your Demo), but i don't get it to work with the pointerMove-Event - i just don't know how to set the condition and unfortunately there are no examples fo

[2017-02-15 17:18] TDesjardins commented on #66
Hello Andreas,

I just added some standard conditions to the repository. You can now use this property:

https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-client/src/main/java/ol/events/condition/Condition.java#L38

and set it here:

https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-demo/src/main/java/com/github/tdesjardins/ol3/demo/client/example/SelectFeaturesExample.java#L117

[2017-02-16 10:48] brauchle commented on #66
works like a charm - thanks a lot for the quick response!

[2017-02-16 10:48] #66 closed

[2017-02-18 14:25] tbroyer opened #68 "Consider using https for openlayers; demo is broken"
The demo is broken when loaded from https://tdesjardins.github.io/gwt-ol3/ because openlayers is loaded over HTTP; but openlayers.org supports HTTPS too. So you should use `https://openlayers.org` or a scheme-relative `//openlayers.org`.

BTW, I have the HTTPS Everywhere extension in my browsers that automatically loads sites over HTTPS when known to work (as is the case for *.github.io sites)

[2017-02-18 16:29] #68 closed

[2017-02-18 16:30] ibaca commented on #68
Thanks!

[2017-02-28 07:52] enpi opened #73 "OLFactory.createColor not working with String"
I have been testing some of the functionality and creating a color using a String is not possible. It works fine using an array.

https://openlayers.org/en/latest/apidoc/ol.html#.Color

And looking through the API it is only defined as an array.

By the way, I really appreciate your work! Thx :)

[2017-02-28 10:50] TDesjardins commented on #73
Thanks @enpi !

I suppose you are using this method:
https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-client/src/main/java/ol/OLFactory.java#L238

...which is not working for you?

[2017-02-28 11:40] hmgrenner commented on #73
Yeah, this method ( sry for not pointing it out ). Thx for fixing it!

[2017-02-28 13:37] TDesjardins commented on #73
Fixed with commits:
https://github.com/TDesjardins/gwt-ol3/commit/042021a2cd961a5f781a81ae97bc14b1ba8e8705
https://github.com/TDesjardins/gwt-ol3/commit/f2dd7e7469af62565f9d41e4525d4675ede9da58

You can close this issue if it works for you.

[2017-02-28 14:03] #73 closed

[2017-03-02 11:06] enpi opened #74 "Set ProxyHost"
Is there a possibilty to set the proxy host like in Openlayers 2 ?

https://github.com/geosdi/GWT-OpenLayers/blob/master/gwt-openlayers-client/src/main/java/org/gwtopenmaps/openlayers/client/OpenLayers.java#L53

[2017-03-03 08:16] TDesjardins commented on #74
It would be a nice feature but nope, there isn't any feature imlemented, yet. See:

https://github.com/openlayers/openlayers/issues/3367
http://gis.stackexchange.com/questions/171568/create-and-show-a-vector-layer-from-geoserver-using-openlayers3

At this time you have to modify all your URLs yourself.

[2017-03-03 08:16] #74 closed

[2017-03-06 12:29] gmvtrmaga opened #75 "How to export the map to an image file?"
Hi,

I'm having problems to implement the export tool ( example here: https://openlayers.org/en/latest/examples/export-map.html ). I think the absence of render.event is the main problem here. Maybe I am missing a better way to solve this, I readed the code but I couldn't find anything.

Would be great if you can help me with this.

Mario.

[2017-03-08 09:40] TDesjardins commented on #75
Hello @gmvtrmaga ,

I added the `ol.render.Event` to gwt-ol3. There is a property `getContext()` which you can use. The type is tentatively `JavaScriptObject`. For the last steps you can use JSNI. Later we could probably use elemental.
Please note that the export demo uses a FileSaver script.

[2017-03-08 12:30] gmvtrmaga commented on #75
Thank you very much!

It works perfectly, I just added the library and used your new contribution.

Regards.

[2017-03-08 12:30] #75 closed

[2017-04-07 09:50] mazlixek opened #76 "Vector open street map as a source"
Hello,

I recently wanted to switch to vector map representation. I found out that I can download XML file from OSM. And here http://gis.stackexchange.com/questions/169387/using-local-openstreetmap-osm-map-with-openlayers-3 I found that I can use directly that file as a source for the map in OL3.

But it is not implemented here I think. I used GeoJSON for now, but are there any plans to add OSMXML

[2017-04-07 12:09] TDesjardins commented on #76
It's not implemented yet. You are welcome to fill this gap. It's just this one class you mentioned, not much effort.

[2017-04-10 12:50] TDesjardins opened #79 "Refactor classnames with acronyms for readability"
Classnames like OSMXML, WKT and JSONFeature not follow Java naming coventions. Renaming will also improve the readability.

[2017-04-10 13:30] TDesjardins commented on #76
I close this issue. You can reopen it if it is not working for you.

[2017-04-10 13:30] #76 closed

[2017-04-10 16:25] mazlixek opened #80 "ol.StyleFunction support"
Since now it is possible to add OMS vector map as a source, it would be nice if there will be support for styles that varies with zoom level. For example displaying street names from a certain zoom level etc. As far as I know there is no support for http://openlayers.org/en/master/apidoc/ol.html#.StyleFunction now.
Are you planning on adding this feature? Or should I try it myself? I'm not that mu

[2017-04-10 20:47] TDesjardins commented on #80
You can use this method: https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-client/src/main/java/ol/layer/Vector.java#L62

[2017-04-11 14:03] mazlixek commented on #80
Well I can't figure out how to use it. Let's say I want to hide buildings if mapZoom level is less than 15.
Let's say that I can determine that feature is building by:
`if(feature.get("building")=="yes"){//it is building}`

I have this:
[code]

Sorry to bother you, I just cannot figure it out.

[2017-04-12 07:59] mazlixek commented on #80
OK I have no idea how, but it works. Here is my sample code:
[code]

I mean... how does it know which style to add to which feature? Could you explain?
But it works and on each map movement it is reevaluated, so I guess I can check zoom level in this function and send it as parameter to my MapStyles.getStyle() function to hide buildings at low zoom levels etc.

Thanks

[2017-04-12 09:05] TDesjardins commented on #80
It's just magic ;-)
With StyleFunction you have more control over styling each feature. The input argument is the feature to style. It is only needed to have information to create styles for this feature. The return value is the style you want to give this feature. OpenLayers will then automatically put this style information to this feature.

[2017-04-12 10:17] mazlixek commented on #80
Oh I guess I understand it now, I return only Style[] array which has just one style object in it. I thought There are all the styles in the array and that was why I didn't understand how the hell OL know what style goes where.

Thanks man, It works like charm now when I added different styles for different zoom levels! I can even change the size of the point elements on map, so they are easier to

[2017-04-12 12:04] TDesjardins commented on #80
I have also added StyleFunction-property to VectorLayerOptions. Could you check if this is also working for you? You could then close this issue.

[2017-04-12 12:10] TDesjardins commented on #80
... and yes a feature can have more than one style. Because of this the return type is a style array ;-)

[2017-04-12 12:29] mazlixek commented on #80
I just tried it and it works too so you can close this issue.

Just maybe one more small question:
If I return more than one style in the array in the function, lets say 3, what would happen to the feature? Will all be applied at the same time? Or is there some rule like 1st style in the array is for not selected feature, 2nd for selected feature... etc.?

[2017-04-12 13:07] TDesjardins commented on #80
Don't know it for ol3. In ol2 there are render intents and filters for feature and state depending styles.

[2017-04-12 13:07] #80 closed

[2017-04-13 08:19] #79 closed

[2017-04-18 06:49] Rezumadora opened #81 "WFS and GetFeature format"
Hello,

i am trying to read features using WFS, but i don't get which is the corresponding "Node" class in Java.

Could you implement a request example with the GetFeature format?

Thx :)

[2017-04-20 12:51] TDesjardins commented on #81
@Rezumadora The WFS format wasn't implemented, yet. I added some base functionalities as a starting point:
https://github.com/TDesjardins/gwt-ol3/commit/2cc97bf4f008c8c01ae281c4a53a741e25f2e8ed
You are welcome to extent it.

[2017-04-26 10:02] ssagredo commented on #81
Thank you for the new functionalities!

[2017-04-26 10:02] Rezumadora commented on #81
Thank you for the new functionalities!

[2017-04-26 11:15] OscarSotodosos opened #82 "Background images for icons"
Hi,

In Ol2 you could use a background image and use an icon image. Now it is only possible to choose an icon image. Is there a possibilty to still use both? I need to draw a background image like a circle and put an icon in this circle.

And create the different images (like a circle with the icon inside) is not viable, because i have over 500 different combinations that would need to be created

[2017-05-02 07:30] TDesjardins commented on #82
Hello @OscarSotodosos ,

I think this is a general OpenLayers question you could raise in the OpenLayers community. If this is possible in OpenLayers, it is also feasable in gwt-ol3. If there is a solution I can help you to do it with gwt-ol3.

Regards

Tino

[2017-05-19 09:04] TDesjardins opened #85 "Drop oss-parent from pom"
Remove oss-parent because of it's deprecation:
http://central.sonatype.org/pages/apache-maven.html#deprecated-oss-parent

@ibaca Do you see any problems for release goals when removing it?

[2017-05-19 10:22] ibaca commented on #85
hehe yep, I need to apply this to rxgwt too... we will see if I detect any problem a apply/comment it here. If you want, just wait and when I apply it to my lib I just do the same here 👍.

[2017-07-13 17:47] gkresic opened #89 "Bing Maps support?"
Is there a reason gwt-ol3 does not provide wrappers for Bing maps (supported in OL)?

https://openlayers.org/en/latest/apidoc/ol.source.BingMaps.html

I've created a patch, basicaly just two additional simple JsInterop wrappers:

`ol.source.BingMaps extends ol.source.TileImage`
and
`ol.source.BingMapsOptions extends ol.source.TileImageOptions`

It works and if there are no issues that I'm not awar

[2017-07-13 18:02] gkresic opened #90 "Setting style via function in ol.Feature"
According to OpenLayers, `ol.Feature` should support passing function to `setStyle` method:

https://openlayers.org/en/latest/apidoc/ol.Feature.html#setStyle

gwt-ol3, however, does not support it.

I'm not very fluent in JsInterop, but I suspect that has something to do with special treatment of keyword `this` inside that function. On the other hand, `ol.Feature::setStyle` supports the same `ol.S

[2017-07-14 07:30] TDesjardins commented on #89
Hello Gordan,

nope there is no special reason. It is only not implemented yet. Pull requests are welcome. Please also provide a test and an example. You can copy the license header from one of the other files.

Regards

Tino

[2017-07-14 07:34] TDesjardins commented on #90
I think there is a simple solution for this. I will soon make a commit. Would be nice if you could test this.

[2017-07-14 11:44] TDesjardins commented on #90
Done! https://github.com/TDesjardins/gwt-ol3/commit/ad766af7f129ccf24c2ff99c0eeef5939e3968ae
Could you test this?

[2017-07-14 15:50] gkresic commented on #90
Partially :)

Functions gets called, but parameters are not right. Looks like OL is passing **two** parameters to style function (feature and resolution), but my style function gets only **second** one - resolution, which is only a number, not an feature object (that I need).

Two parameters are indeed in documentation:

https://openlayers.org/en/latest/apidoc/ol.html#.StyleFunction

I verified in

[2017-07-14 16:30] gkresic commented on #90
I forgot my Java code:

[code]

and style function:

[code]

[2017-07-14 18:20] #85 closed

[2017-07-14 18:23] ibaca commented on #85
Now it is possible to deploy directly to maven central without the need of manually close and release using the oss.sonaype.org nexus web app. But, I have not used this strategy because it requires the plugin and because hehe the manual process adds some "safety" to the process, so forces you to review if the generated artifacts are the expected one or maybe just drop the release because you see s

[2017-07-14 19:36] gkresic commented on #90
I've tried defining specialized `StyleFunction` for usage it in `Feature::setStyle`:

[code]

but unfortunately, it still does not work: first parameter is still a number (resolution) and second one is undefined.

[2017-07-15 20:05] TDesjardins commented on #85
Thanks, I will try it with the next release.

[2017-07-15 20:21] #89 closed

[2017-07-16 20:50] TDesjardins commented on #90
Yes, I can reproduce this. Actually that should work but it doesn't. That's weird. The StyleFunction has two params but the implementation should also work with one parameter.
Seems that the problem is a result of jsinterop internals in combination with ol implementation. The function `createStyleFunction` checks the number of parameters of the StyleFunction (see https://github.com/openlayers/open

[2017-07-17 07:15] cukurvate opened #92 "New release?"
Hi,
first of all, thank you for developing GWT-OL3.

I would like to ask, are you planning on releasing a new version? I see that some essential features (particularly, clustering) are added after the 3.0.0 version release, which would be great to try out.

Also, is it currently possible to create a popup?

[2017-07-17 12:58] TDesjardins commented on #82
@OscarSotodosos What's the status? Have you asked the Openlayers community for that feature?

[2017-07-18 11:34] gkresic opened #93 "Support for ol.interaction.DragBoxOptions"
[ol.interaction.DragBox](https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-client/src/main/java/ol/interaction/DragBox.java) is missing constructor that would allow for customization.

Without it it seems that that it is not possible to allow both zooming and selecting by drawing boxes on map.

Working on a patch.

[2017-07-18 12:47] gmvtrmaga opened #94 "Include ol.format.filter to WFSWriteFeatureOptions?"
Hi,

I have just realized that WFS filters are not included in the WFS class, so we are not able to include these to the request. I tried to add them in WFSFeatureOptions but I could not make the query work. I wonder if there is something that I am missing.

Regards, and thanks in advance.

[2017-07-18 13:54] TDesjardins commented on #92
I want to release v4.0.0 soon. There are some issues left I want to include.

Popups already possible. You can use ol.Overlay in combination with map click or selection events. See http://openlayers.org/en/latest/examples/popup.html

[2017-07-18 13:59] TDesjardins commented on #94
Hello @gmvtrmaga ,

could you share the code?

[2017-07-18 14:24] gmvtrmaga commented on #94
I have implemented the following package
[filter.zip](https://github.com/TDesjardins/gwt-ol3/files/1156141/filter.zip)

and added this code to WFSWriteFeatureOptions class:
 /**
     *
     * @param filter
     */
    @JsProperty
    public native void setFilter(Filter filter);

It is probably wrong, as I have been trying different ways to add it.

[2017-07-18 15:41] #93 closed

[2017-07-18 16:44] gkresic opened #96 "Customizable Map.forEachFeatureAtPixel"
`Map.forEachFeatureAtPixel` should have additional prototype with `FeatureAtPixelOptions` for customizations.

Will provide a patch soon.

Unrelated to this issue, I would like to ask @TDesjardins if this workflow "file an issue" -> "provide a patch" is valid? I looks like there are considerable amount of missing features in gwt-ol3 (which is completely understandable) so I'll have to spam this pr

[2017-07-18 16:55] TDesjardins commented on #96
@gkresic Please provide pull requests by feature! If you pack several improvements in one pull request the review is not possible. It's not neccessary to open an issue, but this maybe saves you from wasting your time (e.g double implementation or an existing feature). It isn't spam it's communication ;-)

[2017-07-18 22:44] #96 closed

[2017-07-19 17:01] gkresic opened #102 "olx namespace"
I'm not even sure what is the purpose of this namespace in OpenLayers, but I'm wondering if gwt-ol3 should support it?

One use case is to support [ol.render.Event](https://openlayers.org/en/latest/apidoc/ol.render.Event.html) which references [olx.FrameState](https://openlayers.org/en/latest/apidoc/olx.html#.FrameState). I'm planning to use it for animations like shown in [this example](https://o

[2017-07-21 09:03] TDesjardins commented on #90
Maybe we should only include the resolution param. So we could bypass the type errors. The users could access the feature by closure.

[2017-07-24 06:55] ibaca opened #106 "Apply elemento typed events"
This is more an experiment. OL does not use standard Event, so its events do not extend DOM Event (not totally sure this sentence makes sense). Anyway, this issue is to investigate if it is possible and useful to use the Element EventType interface, and so elemental2 EventTarget and EventListener to describe the event. The best of this approach is event unification and rxgwt integration 😉.

[2017-07-24 13:59] TDesjardins commented on #106
I currently created some feature branches. One of them is for testing integration of elemental2 (see https://github.com/TDesjardins/gwt-ol3/tree/elemental2_integration). This is especially to use future proofed XML- and HTML-DOM stuff. This could be the starting point for additional modifications on elemental things.

[2017-07-24 21:35] ibaca commented on #106
Yep, hehe I saw it this weekend, and it was what get me motivated to start investigating about elemento 👍.

[2017-07-27 11:58] TDesjardins commented on #82
As already said this is not a gwt-ol3 specific issue. If this is feasable with OL3 we can also implement this in gwt-ol3. You could reopen this issue if there is a solution for OL3.

[2017-07-27 11:58] #82 closed

[2017-07-30 08:25] TDesjardins commented on #81
GetFeature format works now including filters. There is also a new [WFS example](https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-demo/src/main/java/com/github/tdesjardins/ol3/demo/client/example/WfsExample.java) that shows the use.

[2017-07-30 08:25] #81 closed

[2017-07-30 08:29] TDesjardins commented on #94
GetFeature format works now including filters. There is also a new [WFS example](https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-demo/src/main/java/com/github/tdesjardins/ol3/demo/client/example/WfsExample.java) that shows the use. I only tested the IsLike filter. You can reopen this issue if other filters will not work.

[2017-07-30 08:29] #94 closed

[2017-08-12 06:25] TDesjardins commented on #90
I changed the style function to work with resolution only for now to bypass the class cast issue. I am leaving this issue open because maybe this is a JsInterop bug.

[2017-08-12 09:20] TDesjardins commented on #92
The new release v4.0.0  is now available and already in Maven central.

[2017-08-12 09:20] #92 closed

[2017-08-18 09:04] WORMSS opened #110 "MultiPoint setCoordinates"
Hello, I am new to all the OL3 stuff, so please excuse if there is something I am not understanding..

But I picked up some code from a co-worker and noticed certain things broken when trying to use `setCoordinates` for `MultiPoint`.

In my investigation something that was puzzling me was `MultiPoint` wanted a 2 dimensional array of `Coordinates`. But I was trying to understand why. I since I was

[2017-08-18 14:57] WORMSS commented on #110
My co-worker has rebuilt the gwt-ol3 jar for our project and changed the extension of
`MultiPoint` from `SimpleGeometryMultiCoordinates` to `SimpleGeometryCoordinates`

Everything all seems to work with no problems and was able to go back to using the code minus the extra dimension of the array.
[code]

[2017-08-22 09:13] TDesjardins commented on #110
@WORMSS Yes, seems that inheriting from SimpleGeometryCoordinates is the correct solution.
@sebasbaumh Any objection?

[2017-08-22 09:27] sebasbaumh commented on #110
@WORMSS and @TDesjardins : Yes, you are right. `SimpleGeometryCoordinates` is the correct base class. The [getCoordinates function in MultiPoint](https://github.com/openlayers/openlayers/blob/master/src/ol/geom/multipoint.js#L88) shows the correct `Array.<ol.Coordinate>` in contrast to [getCoordinates function in MultiLineString](https://github.com/openlayers/openlayers/blob/master/src/ol/geom/mul

[2017-08-22 09:40] TDesjardins commented on #110
@sebasbaumh :thumbsup: Thanks! I will fix this. By the way I noticed that method setCoordinates of ol.geom.MultiPolygon has a 3 dimensional array (see http://openlayers.org/en/master/apidoc/ol.geom.MultiPolygon.html#setCoordinates). So inheriting from SimpleGeometryMultiCoordinates may not be sufficient.

[2017-08-22 09:49] WORMSS commented on #110
@TDesjardins @sebasbaumh would the second `setCoordinates(Coordinates[])` be added to `SimpleGeometryCoordinates` ??

`SimpleGeometryMultiCoordinates` and `SimpleGeometryMultiMultiCoordinates` both have 2 `setCoordinates` functions without the nullable layout object.

[2017-08-22 09:49] sebasbaumh commented on #110
Yes, and it also returns a 3 dimensional array - so we might have to check all of the geometry classes.
On the first look it seems it is the only one working with such coordinates.

Basically I introduced `SimpleGeometryCoordinates` and `SimpleGeometryMultiCoordinates` to provide and share the correct getters and setters in different types of geometries.
So maybe we should just treat `MultiPolygon

[2017-08-22 10:50] sebasbaumh commented on #110
@WORMSS: Yes, that could be done as it is the same as passing `null` for `geometryLayout` to the existing `setCoordinates`. So feel free to add the function without the second parameter.

[2017-08-22 12:01] WORMSS commented on #110
@sebasbaumh I was just talking to a co-worker, and it seems we also did a similar fix to our local copy as well, (I was unaware of this). We have `SimpleGeometryMultiMultiCoordinates` which actually takes a object that pretends to be a `Coordinate[][][]`.. If I had known, I would have mentioned this also. I just presumed it was standard gwt-ol3

[2017-08-22 12:04] sebasbaumh commented on #110
@WORMSS No problem :-)
You might not even need a new `SimpleGeometryMultiMultiCoordinates` class as `MultiPolygon` is the only class using a 3 dimensional array.

I introduced the `SimpleGeometry*Coordinates` classes only to have `Point` inherit the `SimpleGeometry` class though it only has a single coordinate. So if `MultiPolygon` is still a `SimpleGeometry` adding the methods directly to it woul

[2017-08-22 12:05] lobmarib opened #111 "elemental2 Dom"
I've just updated to the last version of the wrapper and I found a new dependency on the gwt-ol3-client which is not being included in the artifact. Can't understand this approach. It's really needed?
On the previous version I added the gwt-ol3-client jar has dependency into my project and that's it. Quick and simple. (Yes my project doesn't use maven)

[2017-08-22 12:25] TDesjardins commented on #111
@lobmarib Yes, there is a new dependency. I want to keep gwt-ol3 as simple as possible with less dependencies as possible. Elemental2 is needed for using DOM stuff and to keep gwt-ol3 prepared for the future. In release 4.0.0 this was introduced to support WFS format, especially to deal with XML-DOM elements, because the standard GWT-XML-API won't work with JSInterop or JSNI.

[2017-08-22 12:44] #110 closed

[2017-08-22 12:47] TDesjardins commented on #110
@WORMSS I changed the code as discussed. Could you test this?

[2017-08-22 13:10] ibaca commented on #111
You really should use some build tool 😞. Probably maven or gradle.

[2017-08-22 13:30] WORMSS commented on #110
Yeah.. I will have to unpick what we have for `MutliPolygon`
My co-worker says we were having problems with 3 dimensional arrays with GWT so we came up with
`Coordinate3D`
[code]
Give me a second to see of Coordinate[][][] works.

[2017-08-22 14:20] lobmarib commented on #111
@TDesjardins ok. Was decided to keep the old version so.

@ibaca Unfortunately, not my call.

[2017-08-22 14:29] TDesjardins commented on #111
@lobmarib You want to keep the old version? What are the pros of this decision? One more important dependency which you will anyway have sooner or later in your application ;-)

[2017-08-22 14:52] lobmarib commented on #111
@TDesjardins Yes, we're going to keep up with the old version. For the moment the application is working fine with it and it seems there isn't much more to implement...
I know that, but before that we need to take other decisions... if widgets disappear we'll be in a bigger trouble.

[2017-08-22 21:31] TDesjardins commented on #111
I see. Good old widgets :-D

[2017-08-22 21:31] #111 closed

[2017-08-24 10:10] gmvtrmaga commented on #94
First of all, thank you for this enancement, it is being useful in many ways. I have been making custom examples to test all the filters and they work fine overall.

However, I have just discovered that setUpperBoundary and setLowerBoundary functions (ol.format.filter.isBetween class) are not working. I catch this exception in debug mode:

       TypeError: ((intermediate value)(intermediate value

[2017-08-24 10:27] TDesjardins commented on #102
@gkresic have a look at https://github.com/openlayers/openlayers/blob/81acbc0f254fe51136c649ace357350043217383/externs/readme.md
OpenLayers uses the olx namespace to declare objects with object literals as externs. Trough that this saves them from renaming by the closure compiler.
All these classes don't have an explicit constructor. From my point of view we could wrap this in the standard namespa

[2017-08-24 10:40] TDesjardins commented on #94
@gmvtrmaga Yes, the same will happen with setGeometry function because there are no functions but properties. I will fix this soon.

[2017-08-24 10:45] TDesjardins commented on #94
Should work now with this fix: https://github.com/TDesjardins/gwt-ol3/commit/7d7712b5c84f54ed91464419802a8d8287821a86

[2017-09-08 19:29] gkresic commented on #102
Agree.
Meanwhile, I've implemented my feature using `com.google.gwt.animation.client.AnimationScheduler` so I didn't need `olx.FrameState`, but if I encounter some other olx.* class, I'll implement it in ol namespace as you suggested.

[2017-09-09 11:24] gkresic opened #114 "Support for ol.Object.Event"
I'm trying to add support for `ol.Object.Event`, but I'm not sure which route to take:

If I add new `Event` subclass to `ol.Object` it will mask every current reference to `ol.events.Event` in subclasses (which is... almost every class in project :) ). This would be a clean solution, but it requires massive renaming across code base and is error prone.

If I name wrapper something like `ObjectEve

[2017-09-09 15:42] ibaca commented on #114
`ol.Object.Event`and `ol.events.Event`are differents? why are there 2 of them?

[2017-09-09 17:54] gkresic opened #116 "Should ol.format.Wkt#writeGeometry(ol.geom.Geometry) accept options?"
OL's documentation says nothing about options:

https://openlayers.org/en/latest/apidoc/ol.format.WKT.html#writeGeometry

but source code uses it:

https://github.com/openlayers/openlayers/blob/master/src/ol/format/wkt.js#L406

[2017-09-09 19:41] TDesjardins commented on #114
The event handling is a little bit confusing at first glance. Dealing with the mentioned change events are already possible but not as `Object.Event`. There is also already the dirty version with `ol.ObjectEvent` implemented. Tomorrow I will provide a clean solution. Happy if you could test it.

[2017-09-10 08:27] TDesjardins commented on #116
Maybe this is missing. I think you should open an issue at Openlayers project.

[2017-09-10 10:14] #114 closed

[2017-09-14 14:18] gmvtrmaga opened #117 "Problems handling spatial filters to WFS.writeGetFeature"
I will attach the images in order to have a graphical explanation. The summary is that, when addindg a spatial filter (polygon-array of coordinates like (longitude,latitude), the query is set as a polygon- array of coordinates like (latitude,longitude).

Is it a problem from gwt-ol3 or javascript openlayers library?

Thanks in advance

Regards.

![screenshot_1](https://user-images.githubuserconten

[2017-09-15 07:19] gkresic commented on #116
OL maintainers confirmed it's a error in documentation and corrected it:

https://github.com/openlayers/openlayers/issues/7256#issuecomment-329698395

Since `writeGeometry` using options works already with current version of OL, I assume there are no blockers for addind that support into gwt-ol3. Before I prepare pull request, my only question is should I leave current version of `writeGeometry` w

[2017-09-15 10:30] TDesjardins commented on #116
@gkresic I guess writeGeometry options are optional. If this is the case you could simply overload the method.

[2017-09-15 10:38] TDesjardins commented on #117
@gmvtrmaga Could you clarify your problem? Maybe in a kind of current result vs. exprected result. I suppose you mean that the XML-output of the geometry isn't correct.

[2017-09-15 10:47] gmvtrmaga commented on #117
@TDesjardins is that you have said.

Im expecting the query to have the same coordinates as the filter, but they are inverted. The result in the map is that, if I want to find water areas in canada I must set the area filter below Africa. Check the attached image:
![screenshot_4](https://user-images.githubusercontent.com/25951539/30479087-f38eb2ca-9a13-11e7-90d4-b56baefc3071.png)

[2017-09-15 14:41] TDesjardins commented on #117
At first sight it looks like a axis order problem. The axis order depends on the reference system. Have look at http://www.ogcnetwork.net/axisorder

Could you provide the code of the input geometry?

From my point of view the Javadoc o Coordinate isn't correct. Because 'x' isn't lon in any case.

[2017-09-16 05:55] #116 closed

[2017-09-17 17:04] #102 closed

[2017-09-18 08:44] gmvtrmaga commented on #117
The geometry is generated by a Draw control: When I finish drawing, it sets the filter and send the request to the map server.

Indeed, it is an axis problem, but I can't understand the reason.

![screenshot_1](https://user-images.githubusercontent.com/25951539/30534377-40775cb2-9c5e-11e7-8dc1-eb5589313ebd.png)

[2017-09-18 15:27] TDesjardins commented on #117
@gmvtrmaga There is a method `createSpatialFilter(Geometry geometry)` in your code. Have you set the srsName parameter for the spatial filter? Could you share it?

[2017-09-18 15:38] gmvtrmaga commented on #117
![screenshot_3](https://user-images.githubusercontent.com/25951539/30550567-1c5b8d3c-9c98-11e7-9203-a2bca297e198.png)

[2017-09-19 06:47] TDesjardins commented on #117
Hm, looks ok 😄 . I think you have to figure out the point, when the coordinate order is changing. The last point is the creation of the spatial filter. Could you check if the coordinates in geometry have the order "lon lat" in method `createSpatialFilter(Geometry geometry)`?

[2017-09-20 09:31] gmvtrmaga commented on #117
As I have shown in the third screenshot of the first post, the coordinates are inverted when creating a wfs Node from wfsWriteFeatureOptions. Spatial Filter is set with correct coordinates.

[2017-09-21 05:59] TDesjardins commented on #117
Then you should create an issue at OpenLayers project.

[2017-09-22 09:58] gmvtrmaga commented on #117
Ok, I will sen them this issue.

Thanks.

[2017-09-29 09:39] #117 closed

[2017-10-01 13:06] ikzent opened #120 "New functionality Draw features"
Is there already a start of the draw implementation in OL3, if not where should one start ?
It seems that a draw function is available.

[2017-10-01 16:24] TDesjardins commented on #120
Drawing is already available. You can use class [Draw](https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-client/src/main/java/ol/interaction/Draw.java) for this purpose.

[2017-10-02 11:03] TDesjardins commented on #120
Please reopen this issue if you are missing something!

[2017-10-02 11:03] #120 closed

[2017-10-13 09:05] TDesjardins opened #121 "Change project name from gwt-ol3 to gwt-ol"
Since the OpenLayers project has introduced semantic versioning the name ol3 isn't correct anymore. Therefore the project name should be changed to gwt-ol to avoid confusion.

[2017-10-16 08:18] gmvtrmaga opened #122 "Improvement: Add to the feature the capability of handling an array of styles"
As OL3 development team explained in this [issue](https://github.com/openlayers/openlayers/issues/6597), the feature is able to handle several styles (in the past, it could only manage front and back style).

I've implemented the following code in the gwt library in order to test this:
`public native void setStyleArray(Feature feature, Style[] styleArray)/*-{
		feature.setStyle(styleArray);
	}-*/;

[2017-10-16 08:34] TDesjardins commented on #82
Hello @OscarSotodosos ,

have you already found a solution? If not have a look at this approach: https://github.com/openlayers/openlayers/issues/6597

[2017-10-16 08:57] TDesjardins commented on #122
You could already do this with `Featue:setStyle(GenericFunction<Double, Style[]> styleFunction)` but yes the simple style array setter should also be supported. This can be done by simply overloading it... and yes we need a solution for the UGLY OpenLayers multitype getters 😠 .

[2017-10-16 09:59] gmvtrmaga commented on #122
What would be your approach regarding the multiple getter selection? Have you got any suggestions?

[2017-10-16 10:50] TDesjardins commented on #122
Yes, there is an idea I am working on. I have to test it for general use. The solution has to avoid
inconsistencies because it isn't the job of the API user to care about that. 😉

[2017-10-16 14:41] #122 closed

[2017-10-17 10:02] TDesjardins commented on #122
@gmvtrmaga Could you test this? I think there also a lot of other places where we have to handle "multi getters".

[2017-10-18 07:11] gmvtrmaga commented on #122
I have just tried it and it works like a charm :)

Regarding the multi getters, it seems so, but I haven't found it yet. I will be checking this during the next days.

Thank you for your fast implementation.

Regards.

[2017-11-28 07:03] TDesjardins opened #123 "Remove all JSNI code"

[2017-12-11 10:33] TDesjardins opened #124 "Introduce separate options type for XYZ tilegrid creation"
Method createXYZ has different options than default tilegrids (e.g. maxZoom):
http://openlayers.org/en/latest/apidoc/ol.tilegrid.html#.createXYZ

There are two things to do:

1. create options type for XYZ tilegrid
2. remove not existing properties from TileGridOptions (maxZoom)

[2017-12-15 16:26] #124 closed

[2017-12-22 18:49] TDesjardins opened #126 "Remove deprecated Executor code"
I marked the Executor code as deprecated because it is not used in gwt-ol3. I also don't know the sense because there are no tests or documentation about it. Please let me know if anybody needs this. Otherwise I will remove this in the next version.

[2017-12-22 18:53] TDesjardins commented on #126
@lobmarib Could you check this?

[2018-02-16 10:28] d-eggert opened #128 "support for ol.source.Raster"
The openlayers api provides a raster class `ol.source.Raster` that enables you to execute per-pixel operations on a given source image via `ol.RasterOperation`.
Unfortunately I didn't find any correspondence in your gwt wrapper.
Are there any technical difficulties and do you plan to add support for this class in the future?

Regards,
Daniel

[2018-02-16 14:16] TDesjardins commented on #128
Hello Daniel,

you are right, it isn't implemented yet. I see no technical difficulties to add this source. Do you want to provide a pull request?

[2018-02-19 08:29] d-eggert commented on #128
Hi Tino,

i'm fairly new to this JsInterop stuff, but i will give it a try.
So, from a quick study of your wrapper classes, i derived the following todos:
- create class `ol.source.Raster` with `@JsType(isNative = true)`
- create class `ol.source.RasterOptions` with `@JsType(isNative = true, namespace = JsPackage.GLOBAL, name = "Object")` providing setter Methods for the corresponding fields annot

[2018-02-23 15:04] #128 closed

[2018-02-24 08:04] #126 closed

[2018-07-27 21:40] nseb opened #135 "Satellite"
Hi,
There is a possibility to display a satellite map like google maps?

Best Regards

[2018-07-30 09:51] TDesjardins commented on #135
Hello @nseb ,

yes, of course! You could use Bing Maps source for example (https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-client/src/main/java/ol/source/BingMaps.java). OpenLayers supports a lot of sources. You only have to find a provider for your needs.

[2018-08-06 11:52] TDesjardins commented on #135
Hello @nseb ,

I added an example for BingMaps. Have a look at the source code:

https://github.com/TDesjardins/gwt-ol3/blob/master/gwt-ol3-demo/src/main/java/com/github/tdesjardins/ol3/demo/client/example/BingMapsExample.java

or just check the example on the demo page:

https://tdesjardins.github.io/gwt-ol3/#BingMapsExample

[2018-08-06 11:52] #135 closed

[2018-08-06 13:11] masterdany88 commented on #135
How about the commercial use of that satelite view?

[2018-08-06 13:17] nseb commented on #135
I found this :
https://www.microsoft.com/en-us/maps/licensing/options

[2018-08-16 15:46] ezpzlmnsqz1337 opened #136 "Click events from Overlay"
I created a simple popup (using ol.Overlay), that displays a box above the selected feature with additional information. There is also a button, to which I assign ClickHandler, but it never gets called. I tried setting `setStopEvent` to false on OverlayOptions, but that just makes the map receive some event, but it never gets to my click handler.

I can see that my SelectFeature is receiving this

[2018-08-21 13:13] ezpzlmnsqz1337 commented on #136
I tried your example with and without "setStopEvent" set on my overlay. If false, nothing gets called. With it set to true, SelectFeature gets this click, but again not this EventListener. Can't it be because when I set an Element to an overlay, it gets all its browser events removed?

[2018-08-21 15:02] TDesjardins commented on #136
@ezpzlmnsqz1337 `setStopEvent` isn't relevant for this listener. I added a temporary branch `overlay_click` with an modified working example. See commit https://github.com/TDesjardins/gwt-ol3/commit/49e6fff9b427ad3695bc9cc919237ab9a4509980 .

Could you check if it works for you?

[2018-08-22 09:49] ezpzlmnsqz1337 commented on #136
Thanks you! It was the `Event.sinkEvents` that I was missing :) Sorry, not experienced with it, never used it before. From the name of the method I would expect that it 'sinks' them, like "put them down" or "remove" :D Now it works fine, just this one line of code was missing. Thanks.

[2018-08-22 13:40] Fractaliste opened #137 "Style function should have two parameters"
According to the documentation the style function is a:

`function that takes an module:ol/Feature~Feature and a {number} representing the view's resolution. The function should return a module:ol/style/Style~Style or an array of them. This way e.g. a vector layer can be styled.
`

In following code the resolution number is missing:

 https://github.com/TDesjardins/gwt-ol3/blob/b30f6cf45ed7050142e

[2018-08-22 17:26] TDesjardins commented on #137
@Fractaliste GenericBiArgFunction would be a solution but I would prefer a special type `ol.style.StyleFunction` in favour of readability.
There is also an open [issue](https://github.com/TDesjardins/gwt-ol3/issues/90) with the second parameter which maybe still appears. I will have look.

[2018-08-22 17:30] TDesjardins commented on #136
So I think this can be closed. Please reopen if necessary. I will remove the temporary branch.

[2018-08-22 17:30] #136 closed

[2018-08-24 06:43] #137 closed

[2018-08-24 06:48] TDesjardins commented on #137
@Fractaliste Should work now. Please reopen if it doesn't work for you.

[2018-08-24 06:49] TDesjardins commented on #90
@gkresic The style function has now two params and should work as expected.

[2018-09-10 08:57] TDesjardins opened #141 "Release version v7.0.0"
Release new gwt-ol version with OpenLayers 5 support.

[2018-09-12 07:51] TDesjardins opened #142 "Add method getProperties() on ol.Object"

[2018-09-12 07:54] #142 closed

[2018-09-12 19:31] Fractaliste commented on #141
The readme.md make still reference to 6.0.0 maven's artifact

[2018-09-14 06:50] TDesjardins commented on #141
@Fractaliste Fixed.

[2018-09-14 06:50] #141 closed

[2018-10-01 12:03] ikzent opened #143 "Support WMS GetFeatureInfo"
Hello I do not find the function WMSGetFeatureInfo function from OL3.
Where should we have this coded

[2018-10-08 15:35] #143 closed

[2018-10-08 15:42] TDesjardins commented on #143
@ikzent Done! Could you test this?

[2019-01-18 09:58] gkresic opened #145 "Support for ol.interaction.ExtentOptions and extentchanged event"
[ol.interaction.Extent](https://github.com/TDesjardins/gwt-ol/blob/master/gwt-ol3-client/src/main/java/ol/interaction/Extent.java) is missing constructor that would allow for customization.

There are no events for reacting when extent is changed on map, too.

If no one is working on this, I can provide a patch.

[2019-01-18 12:55] TDesjardins commented on #145
Yes, you are right. Patches are welcome!

[2019-01-18 14:43] #145 closed

[2019-02-08 12:19] csozoli opened #147 "Support for polygon repeating patterns"
I am trying to convert a gwt openlayers 2 project to OL3+ and use this wrapper for this.
I am at the stage of replacing the old SLD-based styling by OL3+ conform styles.
There is however one thing I cannot do: drawing a repeated pattern over a polygon for rendering.
Based on the official OL example (https://openlayers.org/en/latest/examples/canvas-gradient-pattern.html) it should be possible to se

[2019-02-11 10:43] TDesjardins commented on #147
Hello @csozoli ,

yes this is missing. I will have a look at this soon.

[2019-02-11 10:44] csozoli commented on #147
Thank you

[2019-02-13 09:44] TDesjardins commented on #147
[This commit](https://github.com/TDesjardins/gwt-ol/commit/dabe3aa74d7945608d6a4a0f71a47c2179bc7454) brings canvas gradient and pattern support to color properties of Fill and Stroke. You should now be able to do the things from the OL example. I close this issue. Please reopen if you have any further issues with this solution.

P.S. If you will have an working example it would be great to integra

[2019-02-13 09:44] #147 closed

[2019-02-13 09:48] csozoli commented on #147
Thanks, I will take a look. If I have any example I will let you know

[2019-02-13 09:56] csozoli commented on #147
We have a maven based system, my colleague says it is not released.

[2019-02-13 12:22] TDesjardins commented on #147
I suppose you are using the snapshot repo? Seems that the snapshot isn't landed. I will check this.

[2019-02-13 12:49] TDesjardins commented on #147
@csozoli Your colleague is right. Now the latest snapshot is online and you should be able to use it.

[2019-02-13 12:50] csozoli commented on #147
Thanks. I will soon get to trying out the new feature.

[2019-02-13 13:44] csozoli commented on #147
Actually, I wanted to have CanvasPattern, not CanvasGradient. I will see how I can at least try what there already is but my final goal is to add a repeating pattern (like slash-like lines) to a polygon area

[2019-02-13 14:57] csozoli commented on #147
I am struggling with using elemental2 types, is there any special reason to use these instead of the standard gwt classes (CanvasGradient and CanvasPattern)?
I admit I don't know elemental2, but so far I could set up the gradient in gwt world and also in elemental world, however elemental2 consists only of interfaces and I have no means to convert the results to the required parameter types.
My co

[2019-02-13 16:50] csozoli commented on #147
So we temporarily defined an extension to the FillOptions with jinterop using the standard com.google.gwt.canvas.dom.client classes:

`import com.google.gwt.canvas.client.Canvas;`
`import com.google.gwt.canvas.dom.client.CanvasGradient;`
`import com.google.gwt.canvas.dom.client.CanvasPattern;`
`import com.google.gwt.canvas.dom.client.Context2d;`
`import com.google.gwt.canvas.dom.client.Context2d.R

[2019-02-14 16:59] TDesjardins commented on #147
@csozoli I created an example for canvas pattern and gradient styling:

https://tdesjardins.github.io/gwt-ol/#CanvasGradientExample

source code:

https://github.com/TDesjardins/gwt-ol/blob/master/gwt-ol3-demo/src/main/java/com/github/tdesjardins/ol3/demo/client/example/CanvasGradientExample.java

Yes, you should use elemental2 if you want to code future-proof. Elemental2 works with J2CL and will

[2019-02-15 08:33] csozoli commented on #147
Hi,

Apart from `ol.has.Has` completely missing from the wrapper (maybe you have some experimental build....), I will try to add the example to my code and see how it works.
Thanks in any case.

[2019-02-15 12:12] TDesjardins commented on #147
@csozoli

`(CanvasRenderingContext2D) (Object) canvas.getContext("2d")`
can only be written if someone exactly knows how these casts will be executed in the final js....

Yes, this isn't ideal, but nearer to JS than the "old" GWT-stuff. You are free to use /write factory or utility classes which can do the stuff you often need.

[2019-02-18 12:13] csozoli opened #149 "ol.layer.Layer not included in full build ol.js"
The ol.layer.Layer class would need an @api annotation, otherwise it is not visible in full ol.js build.
The case where this is needed is e.g. layer tree traversal to distinguish “leaf” layer from group layer.
An example of failure can be seen here: https://jsfiddle.net/tpcxL1e9/
Tested with v5.3.0.

[2019-02-18 12:15] #149 closed

[2019-02-18 12:15] csozoli commented on #149
Very sorry, wrong topic, pls ignore

[2019-10-01 07:05] TDesjardins opened #152 "Add OpenLayers 6 support"
Add support for the new OpenLayers [version 6](https://github.com/openlayers/openlayers/releases/tag/v6.0.0).

[2019-10-01 07:09] TDesjardins commented on #152
A working branch ist created: https://github.com/TDesjardins/gwt-ol/tree/ol6

[2019-11-23 14:51] TDesjardins commented on #152
See https://github.com/TDesjardins/gwt-ol/tree/ol6

[2019-11-23 14:51] #152 closed

[2020-06-02 16:56] gkresic opened #154 "Broken relationship between ol.layer.Layer and ol.layer.Vector"
I'm not sure if this is gwt-ol's issue or GWT's, but this code throws `ClassCastException`:
[code]

However, if I use `ol.layer.Vector` instead of `ol.layer.Layer` it works:

[code]

I also noticed that if I have some `ol.layer.Vector` instance, like:
[code]
then
[code]
evaluates (correctly) to `true`, but
[code]
evaluates to `undefined`.

[2020-06-02 18:51] gkresic opened #155 "Problems with FeatureAtPixelOptions.layerFilter"
Looks a lot like same issue as in #154 regarding `ol.layer.Vector` not been seen as an instance of `ol.layer.Layer` by GWT.

This code throws `ClassCastException` first time filter function is called:
[code]

Experimenting on what I have learned from #154, I modified `ol.FeatureAtPixelOptions.setLayerFilter` to accept `ol.layer.Vector` instead of `ol.layer.Layer` and using this example code, but,

[2020-06-02 19:25] TDesjardins commented on #155
@gkresic Thanks for reporting. Which version of gwt-ol and OpenLayers you are using?

[2020-06-02 19:48] gkresic commented on #155
gwt-ol locally built from master branch, OpenLayers is 5.3.0.

[2020-06-03 07:16] gkresic commented on #155
Forgot to mention: in HEAD-SNAPSHOT in master, there is currently version of `ol.FeatureAtPixelOptions.setLayerFilter` that accepts `ol.layer.Vector` instead of `ol.layer.Layer`. However, according to [OL docs](https://openlayers.org/en/v5.3.0/apidoc/module-ol_PluggableMap-PluggableMap.html#forEachFeatureAtPixel) (and common sense), it should accept `ol.layer.Layer`. However, as I said, none of th

[2020-06-03 17:48] TDesjardins commented on #155
@gkresic I will have a look. Please note that gwt-ol currently doesn't support GWT 2.9 because GWT 2.9 uses new versions of jsinterop.base (1.0.0) and elemental2 (1.0.0) which are not compatible with GWT 2.8 and older jsinterop.base and elemental2 versions. So you can't have a version that supports both. Because of this I will create a branch for 2.9.0 support. You have to switch then. Please note

[2020-06-03 17:55] TDesjardins commented on #155
Seems I missed this in review. The history says that you contributed this code 😉 Could you make a PR for this?

[2020-06-03 18:04] TDesjardins commented on #154
I can't reproduce this behaviour. I added a check in the Unit-Tests which not fails (checked also local with non param constructor):

https://github.com/TDesjardins/gwt-ol/commit/4be2704bc142e20044f3febdbd77ebac15864253
https://travis-ci.org/github/TDesjardins/gwt-ol/jobs/694342319#L1483

You got this issue with GWT 2.8.2 ?

[2020-06-04 07:09] gkresic commented on #154
Yes, both GWT 2.8.2 and GWT 2.9. Note that I'm testing in "real" browsers using SuperDevMode, not inside GWTTestCase - may it be differences between HtmlUnit and current evergreen browsers?

Code tested:

[code]

Platform: Linux 64 bit
Chrome 84 (beta)
Firefox 76.0.1

Outputs:

[code]
[code]
[code]
[code]

[2020-06-04 07:19] gkresic commented on #155
Done: #156

Rather trivial change, I've made it while trying to find root cause for this issue (and forgot about it).

[2020-06-04 07:35] gkresic commented on #155
Is there any changelog for backward-incompatible changes between:

elemental2-1.0.0-RC1 (GWT 2.8.2) -> elemental2 1.0.0 (GWT 2.9.0)
jsinterop-annotations-1.0.2 (GWT 2.8.2) -> jsinterop-annotations 2.0.0 (GWT 2.9.0)

I may try to resolve conflicting changes, but would appreciate any starting pointers.

BTW, this problem with CCE and derived classes is so far only problem I've experienced when switc

[2020-06-06 05:42] TDesjardins opened #157 "Add GWT 2.9 support"

[2020-06-06 05:44] TDesjardins commented on #121
Done!

[2020-06-06 05:44] #121 closed

[2020-06-06 07:13] TDesjardins commented on #154
@gkresic Thanks for this nice description! Indeed I can reproduce this behaviour and after some investigations I came to the conclusion that this is a OpenLayers bug that manifests between versions v5.1.3 and v6.0.0-beta.8.

The `@api` annotation for `ol.layer.Layer` was removed with this [commit](https://github.com/openlayers/openlayers/commit/bbe0a66d0730601f455321dcca2af8e0687a17f3#diff-ee7a24c

[2020-06-06 07:13] #154 closed

[2020-06-07 18:53] TDesjardins commented on #157
A working branch is created: https://github.com/TDesjardins/gwt-ol/tree/gwt/2.9

[2020-06-08 07:48] TDesjardins commented on #155
@gkresic I have created a working gwt-ol branch for GWT 2.9. There are not that much changes. If you like to switch to 2.9 you can now build it locally.

I tried to reproduce the CCE and after some investigations I am sure that this is the same cause like in #154 . The type info (`@api`) of `ol.layer.Layer` is missing in OpenLayers in the mentioned versions. If you try to cast to an object to `ol.

[2020-06-15 13:05] gkresic commented on #155
Yes, I confirm there is a scenario in which behavior changes between GWT 2.8.2 and 2.9.0, but it's probably related to upgraded JDT compiler in GWT 2.9, because there it fails as it should while GWT 2.8.2 silently allow this obviously illegal behavior.

Steps to reproduce:

1. revert `ol.FeatureAtPixelOptions.[get|set]LayerFilter` to use `ol.layer.Vector` instead of `ol.layer.Layer`
1. set layer f

[2020-06-15 14:10] gkresic commented on #155
Ideal solution would be to switch to OpenLayers 6, but guessing from a separate branch that option is not available yet. Meanwhile, I've created PR (#158) which uses `ol.layer.Base` as you suggested because I can't think of a better solution, either.

[2020-06-17 17:31] TDesjardins commented on #155
I could create a release for OL6. Maybe it's time to switch master to OL6 and keep a branch for older versions. I think the type bug is a good reason for going foward. WDYT?

[2020-06-17 17:42] gkresic commented on #155
If support for OpenLayer 6 is adequate, I can't see a reason not to switch to it, together with migration to GWT 2.9 as a dependency.

[2020-06-17 18:50] TDesjardins commented on #155
The ol6 branch is working fine except of unit tests because old JSUnit version causes problems with new browser apis. I would prefer to first release a version based on GWT 2.8 because I suppose that there are a lot of users which won't update to 2.9 in the near future.

[2020-06-18 08:40] TDesjardins commented on #155
Also the JsUnit tests work right now. See https://travis-ci.org/github/TDesjardins/gwt-ol/builds/699610983

[2020-06-21 05:36] TDesjardins opened #159 "Migrate from RawGit to jsDelivr"
See https://rawgit.com/

[2020-06-21 05:42] #159 closed

[2020-06-30 06:07] mbrigl opened #160 "Compile fails if OpenLayers dependencies are injected by GWT"
The *Measure* interaction in package *ol.gwt* causes an exception. The *Measure* is defined as non native type, but extends *Interaction* that is a native type.

`Uncaught TypeError: Cannot read property 'interaction' of undefined`

[2020-06-30 07:02] TDesjardins commented on #160
Hello @mbrigl ,

which version of gwt-ol and OpenLayers are you using? Yes, `Measure` is non native but extends native type `Interaction`. This is correct!

[2020-06-30 09:08] mbrigl commented on #160
I'm using branch *gwt/2.9*. Due the *Measure* class I'm not able to run the application nor in compiled nor in development mode.  If I remove the *Measure* class, all works correctly.

[2020-06-30 16:20] TDesjardins commented on #160
And which OL version?

[2020-06-30 18:11] mbrigl commented on #160
5.3.1

[2020-07-01 14:43] TDesjardins commented on #160
When I use branch `gwt/2.9` the measure example works fine with version OL **5.3.0** which is the latest official release of major version **5**. Could you check this? There is a tag **5.3.1** but no releases in jsdelivr or rawgit. Is there a special reason for choosing an unoffical release? If not I would suggest you to use **5.3.0**.
By the way you can also use a [release](https://search.maven.o

[2020-07-02 06:00] mbrigl commented on #160
Sorry, I wrote the wrong version number. I'm using 5.3.0 and I'm using the maven release.
Nevertheless I found the problem but not the solution:

In your demo the OpenLayer js/css are included in the HTML page. In my example I'm injecting the js/css library from GWT self.
Seems that is the problem:
[code]

[2020-07-03 21:28] TDesjardins commented on #160
The difference is the order of the scripts. In the demo the ol script is loaded before GWT script (HTML page). In your script the GWT script has to be loaded before `ScriptInjector` can add the ol script. Seems that GWT checks the non native types before entering the entry point. At the time the non native `Measure` class is checked, the inherited interaction class could not be resolved because th

[2020-07-04 08:24] TDesjardins commented on #160
@mbrigl Is this a problem for you to load the ol script in your HTML file? I will ask the GWT community if there is another solution for this issue. Actually you can reopen this issue because it isn't solved. Maybe renaming it would be useful.

[2020-07-04 11:20] mbrigl commented on #160
It's not a serious problem. Injecting the dependencies by the gwt client makes it easier to avoid the usage of the wrong version of a library

[2020-07-05 05:18] TDesjardins commented on #160
@mbrigl  Before go further we have to clarify the facts. Actually I wanted you to rename the issue because it looks like this is a special problem of the GWT 2.9 version but it is also present when using 2.8 right?
Now you speaking about a compile failure but the thing you described and the issue I reproduced is an runtime issue. Could you confirm that the failure doesn't appear when compiling?

[2020-07-05 15:29] mbrigl commented on #160
Yes it's a runtime problem, not a compile problem. I have this issue only with GWT 2.9, even if I never used the problematic class Measure.
With GWT 2.8.2 and gwt-ol master branch I have not this problem, but it seems Measure will not be exposed to JavaScript (not in your demo application as well)
You are free to rename the issue.

[2020-07-24 17:39] TDesjardins commented on #157
First version with GWT 2.9 support is released: https://github.com/TDesjardins/gwt-ol/releases/tag/v7.3.0-gwt2_9

[2020-07-24 17:39] #157 closed

[2020-08-06 15:21] #155 closed

[2020-08-06 15:27] TDesjardins opened #162 "Add support for method forEachLayerAtPixel"
See: https://openlayers.org/en/latest/apidoc/module-ol_PluggableMap-PluggableMap.html#forEachLayerAtPixel

[2020-08-17 11:36] TDesjardins commented on #160
After some investigations I can say that this is an issue of GWT not GWT-OL. As written in the [linked issue](https://github.com/gwtproject/gwt/issues/9696) you can solve this problem in test and production by using [splitpoints](http://www.gwtproject.org/doc/latest/DevGuideCodeSplitting.html), but SDM doesn't work then because it doesn't support code splitting. Otherwise you could simply load ext

[2020-08-17 11:36] #160 closed

[2020-08-27 09:46] #162 closed

[2020-09-18 14:22] Magallo opened #163 "undesired flickering effect changing external image on Vector layer"
This is not a real issue, it is more a support request to understand how to properly implement a specific feature.

My need is to use a Vector layer specifying an external graphic image url (a .png image).
When I have used GWT-OpenLayers library I implemented this using the setExternalGraphic() method of the Style class. This way:

[code]

Using gwt-ol all the classes are different and most of the

[2020-09-21 16:23] TDesjardins commented on #163
Hello @Magallo ,

This is because OpenLayers 3 (and further versions) is a complete rewrite of OpenLayers 2.

The first one of your code snippets is a possible counterpart of your origin OL2 code but there is a more efficient way to do this.

The API of OpenLayers have no setter for source (src) of Icon but there is a setter for an image at style class, so you don't have to recreate the style then

[2020-09-26 06:53] TDesjardins commented on #163
@Magallo  New gwt-ol version 8.0.0 is now released which provides the desired enhancements and also with OpenLayers 6 support. Please reopen if something is missing.

[2020-09-26 06:53] #163 closed

[2020-09-29 07:36] Magallo commented on #163
Hi all. I tried and I found a solution. If I simply call the changed() method of the vector layer class, the function style is called and I can set the new Icon there (without recreate the style every time). Using this strategy I can have a smooth transition of the image associated to the vector layer without flickering effect. Thanks.

[2021-01-07 12:48] JohanBoman opened #166 "Support for functions in ol.style.Style"
The geometry and renderer attributes in ol.style.Style can be functions, would it be possible to implement this in gwt-ol?
Could probably be implemented in a similar way as StyleFunction (https://github.com/TDesjardins/gwt-ol/issues/90).
Is this something the people involved could fix or do you need a patch, not sure though in what timeframe i could provide that.

[2021-01-10 07:08] TDesjardins commented on #166
@JohanBoman Thanks for the issue. Both features can added to gwt-ol.

Right, this is the generic way if the function has one input and one output parameter. You could also provide a special interface for every type of function. This is then necessary if the function has more than one input param.
I created a [PR](https://github.com/TDesjardins/gwt-ol/pull/167) to add the geometry function to style

[2021-01-10 08:25] TDesjardins commented on #166
@JohanBoman Both functions are implemented and merged in the current master branch. Could you test these?

[2021-01-11 09:44] JohanBoman commented on #166
Thanks for the very quick fix!
Still on holiday, will try to test this as soon as possible, but will probably be at least some week(s)

[2021-03-01 09:47] TDesjardins commented on #166
@JohanBoman I will close this issue. Please reopen if it not works for you.

[2021-03-01 09:47] #166 closed

[2021-03-01 12:26] JohanBoman commented on #166
sorry about not getting back here, im sorry to say that i have not tested this yet.
Will reopen if/when i eventually get back to this on my side.
thanks again for the quick action!

[2021-03-14 07:45] TDesjardins opened #169 "Add declutter support"
Add declutter support for vector layers.

[2021-03-14 07:46] TDesjardins opened #170 "Extract base vector layer"

[2021-03-14 08:02] #169 closed

[2021-03-14 08:14] #170 closed

[2021-04-05 06:28] TDesjardins opened #171 "Add css classname to layer options"

[2021-04-05 06:30] #171 closed

[2021-10-21 07:17] Magallo commented on #163
Hi all! I'm still here having problems. I noticed the load() method on Icon and the image setter on Style (thank you for your cotinuous support!), howevere I still have problems I don't fully understand. I tried pre-loading all the images (using the load() method) and assigning to the style (in the sylefunction) the pre-load image. In this case the usual 'flicker' effect seems to be mitigated, but

[2021-10-21 15:13] Magallo opened #173 "how to smoothly transition from an image to another in a vector layer"
Hi all. Reconnecting to #163, I still have flickering problems when changing image on a vector layer in a movie loop.

I added this comment to the already closed issue #163. I write also here the problem. I noticed the new load() method on Icon and the image setter on Style (thank you for your continuous support!), however I still have problems I don't fully understand. I tried pre-loading all the

[2021-10-24 17:24] #173 closed, assigned to TDesjardins

[2022-04-08 15:35] TDesjardins opened #178 "Add function param support in interaction select options"
Option "layers": https://openlayers.org/en/latest/apidoc/module-ol_interaction_Select-Select.html

[2022-04-08 15:36] TDesjardins opened #179 "Add WKB-format support"
https://openlayers.org/en/latest/apidoc/module-ol_format_WKB-WKB.html

[2022-05-11 10:25] #179 closed

[2022-06-06 17:16] TDesjardins opened #181 "Add method extend for collection"
https://openlayers.org/en/latest/apidoc/module-ol_Collection-Collection.html

[2022-06-06 17:37] TDesjardins commented on #181
Added with https://github.com/TDesjardins/gwt-ol/commit/be9612e79ff8f4f205ae8709b28ff39a2581f181

[2022-06-06 17:37] #181 closed

[2022-06-07 05:39] TDesjardins opened #182 "Add method foreach for collection"
https://github.com/openlayers/openlayers/blob/v6.14.1/src/ol/Collection.js#L152

[2022-06-08 13:07] TDesjardins opened #183 "Add method getPointerCount to Pointer interaction"
https://github.com/openlayers/openlayers/blob/v6.14.1/src/ol/interaction/Pointer.js#L102

[2022-06-11 20:58] #182 closed

[2022-06-12 11:24] TDesjardins opened #184 "Add Kinetic"
https://openlayers.org/en/latest/apidoc/module-ol_Kinetic-Kinetic.html

[2022-06-12 12:11] #184 closed